*.il
*.pdb
*.dep
*.dep_err
*.a
*.c
*.d
*.ql
*.pl
*.prof
*.err
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.pic_o
*.o
*.obj
*.opt
*.optdate
*.trans_opt
*.trans_opt_date
*.mih
mdb*.h
mdb*.mh
mer_browser.init
mer_browser.dv
mer_browser.mh
mer_browser
mer_browser.dll
mer_browser.jar
mer_mdbcomp.init
mer_mdbcomp.dv
mer_mdbcomp.mh
mer_mdbcomp
Mercury
mdb.dv
browse_test.dv
declarative_test.dv
declarative_test
mdb.init
*.ilk
*.pdb
libmer_browser.lib
libmer_browser.dylib
libmer_browser.so
*.*_date
Mercury.modules
browse_test
MDB_FLAGS
config.log
*.module_dep
.browser_tags
tags
