*.a
aclocal.m4
autom4te.cache
/benchmarks/*
/extras/*
*.c
*.check.mmacros
*.class
COMP_FLAGS
.compiler_tags
confdefs.h
config.cache
config.log
config.status
# configure is not ignored, s.th. tarballs are supported
# configure
/.configured_library_grades
configure.help
configure.log
*__cpp_code.cpp
*__csharp_code.cs
*.d
*.date
*.*_date
*.date0
*.date3
*.dll
erlang_conf.hrl
*.err
*.exe
/.git/*
*.h
*.il
*.ilk
/INSTALL
/install_grade_dir.*
*.int
*.int0
*.int2
*.int3
*.jar
*.java
jmercury
LIB_FLAGS
libmer_rt.a
libmer_rt.dylib
libmer_rt.lib
libmer_rt.so
libmer_std.dylib
libmer_std.lib
libmer_std.so
library.dep
library.dv
/main.o
Mercury
mercury_compile
mercury_compile.dep
mercury_compile.dep_err
mercury_compile.dv
mercury_compile.exe
mercury_compile.jar
mercury_compile.stats
mercury_conf.h
mercury_conf.h.date
mercury_dotnet.cs
mercury.*.h
mercury_ho_call_codes.i
mercury_ho_call_declares.i
mercury_ho_call_inits.i
mercury_method_call_codes.i
mercury_method_call_declares.i
mercury_method_call_inits.i
Mercury.modules
/Mercury.options
mercury_profiling_builtin.c
mercury_profiling_builtin.h
mer_rt.init
mer_std
mer_std.dep
mer_std.dep_err
mer_std.dv
mer_std.init
*.mh
*.mih
Mmake.common
Mmake.params
Mmake.stage.params
*.module_dep
*.o
*.obj
*.obj_check
*.opt
*.optdate
*.pdb
*.pic_o
*.pl
*.prof
*.ql
/README
/README.*
/samples/*
sicstus_compile sicstus_saved_state
so_locations
/stage1
/stage2
/stage3
tags
/TODO
*.trans_opt
*.trans_opt_date
*.used
/WORK_IN_PROGRESS
