[submodule "boehm_gc"]
	path = boehm_gc
	url = ../bdwgc.git
	branch = release-7_4-mercury-pbone
[submodule "libatomic_ops"]
	path = libatomic_ops
	url = ../libatomic_ops.git
	branch = release-7_4-mercury
