*.il
*.pdb
*.c
*.d
*.h
*.mh
*.mih
*.ql
*.pl
*.prof
*.err
*.exe
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.o
*.obj
*.opt
*.optdate
*.trans_opt
*.*_date
mercury_profile
mercury_profile.dep
mercury_profile.dep_err
mercury_profile.dv
Mercury
PROF_FLAGS
config.log
.profiler_tags
tags
