*.hlds*accum
*.out
*.res
CLEAN
INTRODUCED.diff
Prof.CallPair
Prof.Decl
Prof.MemoryCells
Prof.MemoryWords
base
call_in_base
chain
construct
dcg
deconstruct
disj
heuristic
highorder
identity
inter
nonrec
out_to_in
qsort
simple
split
swap
