*.il
*.ilk
*.pdb
*.c
*.d
*.h
*.mh
*.mih
*.ql
*.pl
*.prof
*.err
*.exe
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.*_date
*.dep
*.dep_err
*.dv
mdprof_test
mdprof_cgi
mdprof_server
mdprof_dump
mdprof_feedback
mdprof_procrep
mdprof_create_feedback
mdprof_report_feedback
Mercury
Mercury.modules
.deep.tags
DEEP_FLAGS
*.o
*.obj
*.opt
*.optdate
config.log
builtin_modules.m
feedback.automatic_parallelism.m
feedback.m
mdbcomp.m
mdbcomp.goal_path.m
prim_data.m
program_representation.m
rtti_access.m
shared_utilities.m
slice_and_dice.m
sym_name.m
trace_counts.m
mdbcomp.int0
mdbcomp.date0
.deep_tags
tags
.mdbcomp_modules
