*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.dep
*.dep_err
*.dv
*.err
*.err2
*.err_res
*.err_res1
*.ilk
*.int
*.int0
*.int2
*.int3
*.java_date
*.log
*.mh
*.mih
*.pdb
.allres
.mgnuc_copts
.mgnuc_opts
CLEAN
DEFNS_FOR_TESTS
EXPECTED_FAILED_TESTS
EXPECT_FAIL_TESTS
FAILED_TC_DIR
FAILED_TESTS_SUMMARY
FAIL_TESTS
Mercury
NOMAKE_DIRS
PASSED_TC_DIR
Prof.CallPair
Prof.Decl
Prof.MemoryCells
Prof.MemoryWords
TESTS_FLAGS
UNEXPECTED_FAILED_TESTS
WS_FLAGS
jmercury
mdbrc
mdbrc.in
runtests.errs
