*.pic_o
*.o
*.obj
*.dll
mercury_conf.h
mer_rt.init
mercury_conf.h.date
libmer_rt.a
libmer_rt.lib
libmer_rt.dylib
libmer_rt.so
mercury_profiling_builtin.c
mercury_profiling_builtin.h
mercury_dotnet.cs
mercury_ho_call_codes.i
mercury_ho_call_declares.i
mercury_ho_call_inits.i
mercury_method_call_codes.i
mercury_method_call_declares.i
mercury_method_call_inits.i
config.log
tags
