*.pic_o
*.o
*.obj
*.ilk
*.pdb
libmer_trace.a
libmer_eventspec.a
libmer_trace.lib
libmer_eventspec.lib
libmer_trace.dylib
libmer_eventspec.dylib
libmer_trace.so
libmer_eventspec.so
mercury_event_parser.c
mercury_event_parser.h
mercury_event_parser.output
mercury_event_scanner.c
tags
