update_copyright
update_copyright.c
update_copyright.c_date
update_copyright.d
update_copyright.date
update_copyright.dep*
update_copyright.dv
update_copyright.err
update_copyright.int
update_copyright.int2
update_copyright.mh
update_copyright.mih
update_copyright.o
update_copyright_init.*
