*.out
*.res
*.ilk
*.pdb
FAILED_TESTS
constrained_lambda
extract_typeinfo
ho_map
implied_instance
implied_instance_missing_constraint
implied_instance_poly
multi_constraint_diff_tvar
multi_constraint_same_tvar
multi_parameter
nondet_class_method
operator_classname
superclass_call
test_default_func_mode
typeclass_test_5
typeclass_test_6
