*.bat
*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.dep
*.dll
*.dv
*.err
*.exe
*.init
*.int
*.int0
*.int2
*.int3
*.jar
*.lib
*.mh
*.mih
*.o
*.obj
*.opt
*.pic_o
*.trans_opt
lib*.a
lib*.beams
lib*.dll
lib*.dylib
lib*.so
Mercury
calculator
calculator2
cat
e
eliza
expand_terms
hello
interpreter
sort
tags
ultra_sub
