Source: mercury
Section: devel
Priority: optional
Maintainer: Tyson Dowd <trd@cs.mu.oz.au>
Standards-Version: 3.1.0.0

Package: mercury
Architecture: any
Depends: ${shlibs:Depends}
Recommends: gcc
Description: New logic/functional programming language
 Mercury is a new logic/functional programming language, which combines
 the clarity and expressiveness of declarative programming with advanced
 static analysis and error detection features.  Its highly optimized
 execution algorithm delivers efficiency far in excess of existing logic
 programming systems, and close to conventional programming
 systems. Mercury addresses the problems of large-scale program
 development, allowing modularity, separate compilation, and numerous
 optimization/time trade-offs.
