*.c
*.d
*.h
*.obj
*.exe
*.prof
*.err
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.used
*.pdb
*.*_date
*.mh
*.mih
Mercury.modules
*.o
*.opt
*.optdate
*.trans_opt
*.trans_opt_date
GRADE_LIB_FLAGS
tags
