*.il
*__cpp_code.cpp
*.c
*.d
*.h
*.obj
*.exe
*.ql
*.pl
*.prof
*.err
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.used
maybe_mlds_to_gcc.m
*.pp_date
mercury_compile.stats
mercury_compile
mercury_compile.dep
mercury_compile.dv
top_level
top_level.dep
top_level.dv
mlds_to_gcc.dep
mlds_to_gcc.dv
Mercury
*.ilk
*.pdb
*.*_date
*.mh
*.mih
Mercury.modules
*.o
*.opt
*.optdate
*.trans_opt
*.trans_opt_date
COMP_FLAGS
config.log
.compiler_tags
tags
