*.c
*.d
*.h
*.obj
*.exe
*.prof
*.err
*.int
*.int0
*.int2
*.int3
*.date
*.date0
*.date3
*.used
mercury_compile.stats
mercury_compile
mercury_compile.exe
mercury_compile.jar
mercury_compile.dep
mercury_compile.dep_err
mercury_compile.dv
Mercury
*.pdb
*.*_date
*.mh
*.mih
Mercury.modules
*.o
*.obj
*.opt
*.optdate
*.trans_opt
*.trans_opt_date
COMP_FLAGS
config.log
.compiler_tags
tags
