*.dep
*.d
*.date
*.dv
*.c
*.o
*.obj
*.out
*.res
*.int
*.int2
*.err
*.mh
*.mih
*.opt
*.optdate
*.res1
*.c_date
*.log
export_test.h pragma_import.h
.allres
address_of_builtins
agg
bidirectional
big_array_from_list
bigtest
boyer
c_write_string
cc_and_non_cc_test
cc_multi_bug
cc_nondet_disj
closure_extension
common_type_cast
complex_failure
construct
curry
curry2
cut_test
cycles
cycles2
deep_copy
deep_copy_bug
det_in_semidet_cntxt
division_test
dupcall_types_bug
elim_special_pred
eqv_type_bug
erroneous_liveness
error_func
existential_bound_tvar
existential_reordering
expand
export_test
exported_foreign_enum
factt
factt_non
float_map
float_reg
float_rounding_bug
foreign_enum_dummy
foreign_enum_mod1
foreign_enum_rtti
free_free_mode
func_and_pred
func_ctor_ambig
func_test
getopt_maybe_option
getopt_test
ground_dd
higher_order_func_test
higher_order_syntax
higher_order_type_manip
ho_func_reg
ho_order
ho_order2
ho_solns
ho_univ_to_type
impossible_unify
impure_prune
integer_test
merge_and_remove_dups
minint_bug
mode_choice
name_mangling
no_fully_strict
no_inline
nondet_c
nondet_ctrl_vn
nullary_ho_func
parent
parent2
pragma_c_code
pragma_import
pragma_inline
qual_adv_test
qual_basic_test
qual_is_test
quantifier
quoting_bug_test
rational_test
relation_test
remove_file
reorder_di
rev_arith
reverse_arith
rnd
rtc_bug
shift_test
space
string_alignment
string_alignment_bug
string_loop
term_io_test
test_imported_no_tag
test_pretty_printer
test_pretty_printer_defaults
tim_qual1
type_spec
write
write_reg1
CLEAN
*.fix_out
nonascii_gen
nonascii.data
runtests.errs
.mgnuc_copts
.mgnuc_opts
FAILED_TESTS
NOMAKE_DIRS
Mercury.modules
Prof.CallPair
Prof.Decl
Prof.MemoryCells
Prof.MemoryWords
