mfilterjavac
MFILTERJAVAC_FLAGS
Mercury
Mercury.modules
tags
.mfilterjavac_tags
*.*_date
*.c
*.d
*.date
*.date0
*.date3
*.dep
*.dep_err
*.dv
*.err
*.exe
*.h
*.int
*.int0
*.int2
*.int3
*.mh
*.mih
*.o
*.obj
*.opt
*.optdate
*.pdb
*.prof
*.trans_opt
*.trans_opt_date
*.used
