*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.err
*.int
*.int0
*.int2
*.int3
*.mh
*.pic_o
*.dylib
*.mih
*.o
*.obj
*.opt
*.optdate
*.prof
mer_mdbcomp.init
mer_mdbcomp.dv
mer_mdbcomp.mh
mer_mdbcomp
mer_mdbcomp.dep
mer_mdbcomp.dep_err
mer_mdbcomp.jar
libmer_mdbcomp.a
libmer_mdbcomp.lib
libmer_mdbcomp.so
Mercury
Mercury.modules
MDBCOMP_FLAGS
config.log
*.module_dep
.mdbcomp_tags
tags
