mslice
mdice
mtc_union
mtc_diff
mcov
*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.dep
*.dep_err
*.dv
*.err
*.exe
*.int
*.int0
*.int2
*.int3
*.mh
*.mih
*.o
*.opt
*.optdate
*.prof
SLICE_FLAGS
Mercury
tags
.slice_tags
.mdbcomp_modules
Mercury.modules
builtin_modules.m
feedback.m
feedback.automatic_parallelism.m
mdbcomp.m
mdbcomp.goal_path.m
prim_data.m
program_representation.m
rtti_access.m
slice_and_dice.m
sym_name.m
trace_counts.m
shared_utilities.m
config.log
