*.dep
*.d
*.date
*.dv
*.c
*.o
*.obj
*.out
*.res
*.int
*.int2
*.err
*.mh
*.mih
*.opt
*.optdate
*.res1
*.gz
*.c_date
*.log
impure_func_t1
impure_func_t5_fixed2
impure_func_t6
impure_pred_t1_fixed3
promise_pure_test
purity
purity_opt
runtests.errs
.mgnuc_copts
.mgnuc_opts
FAILED_TESTS
NOMAKE_DIRS
Mercury.modules
Prof.CallPair
Prof.Decl
Prof.MemoryCells
Prof.MemoryWords
