Mercury.modules
SSDB_FLAGS
*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.dep
*.dep_err
*.dv
*.dylib
*.err
*.int
*.int0
*.int2
*.int3
*.mh
*.mih
*.pic_o
*.o
*.obj
*.opt
*.optdate
*.so
*.prof
libmer_ssdb.a
libmer_ssdb.dylib
libmer_ssdb.lib
mer_ssdb.init
*.module_dep
Mercury
mer_ssdb.jar
.ssdb_tags
tags
