*.bat
*.c
*.c_date
*.d
*.date
*.date0
*.date3
*.dep
*.dll
*.dv
*.err
*.exe
*.init
*.int
*.int0
*.int2
*.int3
*.jar
*.lib
*.mh
*.mih
*.o
*.obj
*.opt
*.pic_o
*.trans_opt
Mercury
lib*.a
lib*.beams
lib*.dylib
lib*.so
tags
